body{
    font-family: 'Montserrat', sans-serif;
    }

header{
    background: orange;
    border: solid;
    border-radius: 10px;
    }

h2 {
    text-decoration: underline;
    text-align: center;
    }

#titreheader {
    text-align: center;
    }

.global {
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #E5DFDE;
    }

#contact {
    width: 35em;
    background-color: silver;
    border: solid;
    border-top: none;
    
    }

#loisirs {
    width: 35em;
    background-color: silver;
    border: solid;
    border-top: none;
    }

#photo {
	max-width: 25em;
	height: auto;
    }

#loisirsUl {
    column-count: 2;
    }

#normalquit {
    display: none;
    }

#outils {
    text-align: center;
    padding: 1.5em;
    background-color: #E5DFDE
    }

#expPro {
    border-left: solid;
    border-top: solid;
    text-align: center;
    width: 50em;
    background-color: silver;
    }

#formation {
    border-top: solid;
    text-align: center;
    width: 50em;
    background-color: silver;
    }

.media img {
    margin-left: 7px;
    margin-right: 7px;
    }

.media a {
    text-decoration: none;
    }

.media img:hover {
    opacity: 0.8;
    }

.media {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background: orange;
    border: solid;
    border-radius: 10px;
    }

ul {
list-style: none;
margin-left: 0;
padding-left: 0;
    }

@media only screen and (max-width: 770px) {
  
#titreheader {
    font-size: auto;
}

#respblock1 {
    display: flex;
    flex-direction: column; 
    }
    
#photo {
    display: flex;
    order: -1;
    align-self: center;
    }
    
#contact {
    border-top: solid;
    width: 100%; 
    }
    
#loisirs {
    width: 100%; 
    }
    
#outils {
    display: flex;
    flex-direction: column; 
    }
    
#respblock2-2-1 {
    display: flex;
    flex-direction: column;
    column-count: 2;
    }
    
#respblock2-2 {
    display: flex;
    flex-direction: column; 
    order: -1;
    }
    
    .respquit{
        display: none;
    }
    
#respblock2-2-2 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    order: -1;
    }
    
#respblock2-2-3 {
    display:none;  
    }  
    
#respblock3 {
    display: flex;
    flex-direction: column;   
    }
    
#expPro {
    border: solid;
    border-top: none;
    border-bottom: none;
    width: 100%;
    }
    
#formation{
    border: solid;
    width: 100%;
    }

.media {
        width: 100%;
    }
}

@media only screen and (min-width: 1619px) {
    
#formation {
    border-left: solid;
    border-right: solid;
    }
    
#expPro {
    border-right: solid;
    }
}

@media print { 

#photo {
    display: none; 
    }
    
#outils {
    display: none; 
    }
    
#normalquit {
    display: block;
    }
    
#colonnes {
    column-count: 2; 
    text-align: center;
    }
    
.printquit {
     display: none;   
    }
}